.login-container {
  background-image: url("../images/Building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: -1;
}

.login-container div {
  position: absolute;
}

.bottom {
  z-index: 0;
  opacity: 0.36;
  background: #000000;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.top {
  z-index: 1;
}